/* header + list styling */
.experience-section {
  padding: 0rem 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header styling */
.experience-section h2 {
  text-align: left; 
  padding: 1rem 14.5rem;
  width: 100%;
  margin-bottom: 2rem; 
}

/* overall experience list styling */
.experience-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;     
  align-items: center; 
  width: 100%;
  max-width: 900px;  
  padding-bottom: 4rem;
}

/* individual card styling */
.experience-card {
  width: 100%;
  text-align: center; 
  padding: 1rem;
  border-left: 4px solid #4F46E5;
  background: #000000;
  border-radius: 8px;
}
